.card-container {
    border: 2px solid rgba(0, 128, 129, 0.6);
    padding: 15px;
}

.top-segment {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.bottom-segment {
    display: flex;
    flex-direction: column;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(245, 245, 245);
    background-color: rgba(0, 128, 129, 0.6);
    height: 80px;
    width: 80px;
}

.top-segment-text {
    font-size: 22px;
    color: black;
    text-transform: uppercase;
    margin: 20px;
}

.bottom-segment-text {
    font-size: 20px;
    color: black;
}
